* {
  padding: 0;
  margin: 0;
}

:root {
  // --final-branch-color: #65deff;
  // --branch-color: rgb(193, 223, 0);
  // --link-color: rgb(85, 255, 111);
  // --tree-color: rgb(255, 0, 225);
  // --bg: #242424;

  --final-branch-color: #ff00e1;
  --tree-color: #4fff34;
  // --branch-color: #48ff00;
  --link-color: #9a4993;
  --bg: #242424;

  --tree-name-color: var(--tree-color);
  --tree-dash-color: var(--tree-color);
  --tree-line-color: var(--tree-color);

  --final-branch-name-color: var(--final-branch-color);
  --final-branch-dash-color: var(--final-branch-color);
  --final-branch-line-color: var(--final-branch-color);

  // --branch-name-color: var(--branch-color);
  // --branch-dash-color: var(--branch-color);
  // --branch-line-color: var(--branch-color);
}

@mixin dash($left, $color) {
  &::before {
    content: "";
    width: 8px;
    height: 0.5px;
    position: absolute;
    top: calc(50% - 0.25px);
    background-color: $color;
    left: $left;
  }
}

@mixin line($top, $bottom, $left, $color) {
  &::before {
    content: "";
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    background-color: $color;
    width: 0.7px;
  }
}

body {
  background-color: var(--bg);
}
.tree {
  font-family: sans-serif;
  // background-color: red

  &:hover {
    // background-color: gray;
  }
  .tree-data {
    margin-left: 20px;
    position: relative;
    @include line(0px, 0, 0px, var(--tree-line-color));
  }

  .tree-name {
    color: var(--tree-name-color);
    margin-bottom: 10px;
    // background-color: black;
    font-size: 14px;
    user-select: none;
  }

  .branch {
    // border-left: 0.7px solid rgb(69, 131, 255);
    // border: 0.5px solid rgb(120, 199, 255);

    .branch-data {
      position: relative;
      margin-left: 22px;
      @include line(0px, 0, 0px, var(--branch-line-color));
    }
    &-name {
      padding-left: 12px;
      color: var(--branch-name-color);
      background-color: black;
      margin-bottom: 4px;
      user-select: none;
      font-size: 16px;
      position: relative;
    }
  }

  .final-branch {
    margin-bottom: 10px;
    &-name {
      font-size: 16px;
      color: var(--final-branch-name-color);
      display: flex;
      gap: 8px;
      align-items: center;
      padding-left: 12px;
      position: relative;
      user-select: none;
      margin-bottom: 5px;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      margin-left: 26px;
      position: relative;

      // @include line(17px, 6px, 26px, var(--$final-branch-line-color));
      @include line(0px, 12.9px, 0px, var(--final-branch-line-color));
      // padding-left: 15px;

      li {
        list-style-type: none;
        position: relative;
      }
      .link {
        text-decoration: none;
        color: var(--link-color);
        font-size: 16px;
        user-select: none;
        padding-left: 15px;
        position: relative;
        margin-bottom: 4px;

        @include dash(0, var(--final-branch-dash-color));
      }
    }
  }
}

// final-branch
.branch-data > .final-branch > .final-branch-name {
  @include dash(0, var(--branch-dash-color));
}
.tree-data > .final-branch > .final-branch-name {
  @include dash(0, var(--tree-dash-color));
}
// branch
.tree-data > .branch > .branch-name {
  @include dash(0, var(--tree-dash-color));
}
.branch-data > .branch > .branch-name {
  @include dash(0, var(--branch-dash-color));
}

.trees {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  margin-left: 15px;

  .tree {
    // background-color: red;
    // width: 220px;
  }
}

@media (max-width: 500px) {
  .trees {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 14px;

    .tree {
      // width: 48%;
      // background-color: green;
    }
  }
}

.box {
  accent-color: var(--final-branch-color);
  border: 1px solid red;
}

.input-box {
  position: absolute;
  // bottom: 25px;
  top: 30px;
  left: calc(50%);
  translate: -50%;
}
.search {
  height: 30px;
  background-color: black;
  border: 0px;
  border-bottom: 1px dashed var(--final-branch-color);
  font-size: 14px;
  padding-top: 6px;
  border-radius: 6px;
  padding-bottom: 8px;
  padding-left: 6px;
  width: 85vw;
  color: var(--link-color);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: "gray";
    color: var(--branch-name-color);
    font-size: 14px;
  }
}

.edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 6px;
  // position: absolute;
  input {
    background-color: rgb(45, 36, 44);
    border: none;
    color: white;
    padding: 4px 4px;
    color: pink;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }
  .edit-key {
    width: 100px;
  }
}
.top-row {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.edit-buttons {
  display: flex;
  align-items: center;
  background-color: rgb(138, 76, 135);
  button {
    margin: 0;
    border: none;
    background-color: rgb(64, 20, 61);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border-radius: 0;
    justify-content: center;
  }
}

@mixin add-btn($bgColor, $color, $left: 0, $bottom: 0) {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50%;
  color: $color;
  background-color: $bgColor;
  margin-left: $left;
  margin-bottom: $bottom;
}
.add-btn {
  @include add-btn(rgb(54, 1, 44), rgb(202, 102, 202), 22px);
}
.add-branch-btn {
  @include add-btn(rgb(65, 65, 8), rgb(251, 255, 0), 3px, 8px);
}
.green-branch-btn {
  @include add-btn(rgb(3, 60, 8), rgb(0, 255, 68), 3px, 8px);
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
  margin-right: 25px;
  margin-top: 12px;
  color: rgb(18, 219, 0);
  font-size: 12px;
}

.hidden {
  display: none;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 29, 29, 0.659);
}
